<ul class="nav navbar-nav {{ menu.attributes['class'] }} {% include 'partials/_navbar_item_alignment.html.twig' with {'item': menu} %}"{% include 'partials/_attributes.html.twig' with {'attributes': menu.attributes, 'ignore': ['class']} %}>
    {% if menu.onepage == true %}
        {% for module in grav.page.collection() %}
            {% if not module.header.hidemenu %}
                {% set current_page = (module.active or module.activeChild) ? 'current' : '' %}
                <li class="{{ current_module }}">
                    <a class="smoothscroll" href="#{{ module.folder }}">{{ module.menu }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% elseif menu.langswitcher == true %}
        {% set langobj = grav['language'] %}
        {% set langswitcher = grav['twig'].twig_vars['langswitcher'] %}
        {% set full_name = menu.full_language_name is defined ? menu.full_language_name : true %}
        {% set languages = full_name ? langswitcher.languages : grav.language.getLanguages %}

        {% for key, language in languages %}

            {% if key == langswitcher.current %}
                {% set lang_url = page.url %}
                {% set active_class = 'active' %}
            {% else %}
                {% set lang_url = base_url_simple ~ langobj.getLanguageURLPrefix(key)~langswitcher.page_route ?: '/' %}
                {% set active_class = '' %}
            {% endif %}
            {% set language_name = full_name ? language.nativeName : language %}

            <li class="{{ active_class }}"><a href="{{ lang_url }}">{{  language_name|capitalize }}</a></li>
        {% endfor %}
    {% else %}
        {% for item in menu.items %}
            {% if item.type == 'link' %}
                {% set active = (page.url == item.url or page.url == '/' ~ item.url) ? ' class="active"' : '' %}
                <li{{ active }}>{% include 'partials/_link.html.twig' with {'attributes': item.attributes }%}</li>
            {% elseif item.type == 'dropdown' %}
                {% include 'partials/_navbar_dropdown.html.twig' with {'dropdown': item } %}
            {% elseif item.type == 'button' %}
                <li>{% include 'partials/_navbar_button.html.twig' with {'item': item } %}</li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
