<div id="{{ id }}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for index in items|keys %}
        <li data-target="#{{ id }}"  data-slide-to="{{ index }}"{% if loop.first %} class="active"{% endif %}></li>
        {% endfor %}
    </ol>

    <div class="carousel-inner" role="listbox">
        {% for item in items %}
        {% set values = item %}
        {% if(instanceof(values, '\\Thunder\\Shortcode\\Shortcode\\ProcessedShortcode')) %}
            {% set values = {
              'image': item.getParameter('image'),
              'caption': item.content|trim,
            } %}
        {% endif %}
        <div class="item{% if loop.first %} active{% endif %}">
            {{ grav.page.find('/images').media.images[values.image] }} 
            <div class="carousel-caption">{{ values.caption }}</div>
        </div>
        {% endfor %}
    </div>

    <a class="left carousel-control" href="#{{ id }}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">{{ previous_label }}</span>
    </a>
    <a class="right carousel-control" href="#{{ id }}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">{{ next_label }}</span>
    </a>
</div>
