{% set attributes = parse_attributes(attributes) %}
{% set splitbutton_type = type|default('default') %}
<div class="btn-group">
  <button type="button" class="btn btn-{{ splitbutton_type }} {{ attributes['class'] }}">{{ label }}</button>
  <button type="button" class="btn btn-{{ splitbutton_type }} dropdown-toggle {{ attributes['class'] }}" data-toggle="dropdown"{% include 'partials/_attributes.html.twig' with {'attributes': attributes, 'ignore': ['class']} %}>
    <span class="caret"></span>
    <span class="sr-only">{{ label }}</span>
  </button>
  {% for item in items %}
    {{ item }}
  {% endfor %}
</div>
