<div id="{{ id }}" class="googlemap">
</div>

<script>
    function initMap() {
        var mapOptions = {
            'center': {{ center }},
            'zoom': {{ zoom }}
        };

        var markers = [];
        {% for marker in markers %}
        var markerOptions = {
          position: {{ marker.location }},
          title: "{{ marker.title }}",
          {% if (marker.info is defined and marker.info is not null) %}info: "{{ marker.info }}"{% endif %}
        }
        markers.push(markerOptions);
        {% endfor %}

        var mapDiv = document.getElementById('{{ id }}');
        var map = new google.maps.Map(mapDiv, mapOptions);

        for (var i = 0; i < markers.length; i++) {
            var markerOptions = markers[i];
            markerOptions.map = map;
            markerOptions.animation = google.maps.Animation.DROP;
            var marker = new google.maps.Marker(markerOptions);

            if (markerOptions.hasOwnProperty('info')) {
                var infowindow = new google.maps.InfoWindow({
                    content: markerOptions.info
                });
                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                });
            }
        }
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
</script>
