<div id="{{ id }}" class="googlemap">
</div>

<script>
    google.maps.event.addDomListener(window, "load", function() {
        var mapOptions = {
            'center': {{ center }},
            'zoom': {{ zoom }}
        };
        
        var markers = [];
        {% for marker in markers %}
        var markerOptions = {
          position: {{ marker.location }},
          title: "{{ marker.title }}",
          {% if (marker.info is defined and marker.info is not null) %}info: "{{ marker.info }}"{% endif %}
        }
        markers.push(markerOptions);
        {% endfor %}
        
        
        initMap('{{ id }}', mapOptions, markers);
    });
</script>