{% embed 'modules/partials/base_module.html.twig' %}       
    {% block module_content %}
        <div class="row">
        {% for item in items %}
            {{ item }}
        {% endfor %}
        </div>
    {% endblock %}
{% endembed %}

{#
{% embed 'partials/base_module.html.twig' %}
    {% set section_class = "clients" %}

    {% block module_content %}
        {% set item = elements.item %}
        {% set item_column = item.column|default(3) %}
        {% set item_row_class = item.classes.row %}
        {% set item_column_class = item.classes.column %}
        {% set item_image_class = item.classes.image %}
        <div class="row {{ item_row_class }}">
        {% for item in page.header.items %}
            <div class="col-md-{{ item_column }} {{ item_column_class }}">
                <div class="item-image {{ item_image_class }}">
                    {% if (item.image|split('.')[1] == 'svg') %}
                    {{ page.media.files[item.image] }}
                    {% else %}
                    {{ page.media.images[item.image].html('', '', 'img-responsive') }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endblock %}
{% endembed %}
#}