{% set page = carousel.page is defined ? carousel.page : grav.page %}
<div id="{{ carousel.id }}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for index in carousel.items|keys %}
        <li data-target="#{{ carousel.id }}"  data-slide-to="{{ index }}"{% if loop.first %} class="active"{% endif %}></li>
        {% endfor %}
    </ol>

    <div class="carousel-inner" role="listbox">
        {% for item in carousel.items %}
        <div class="item{% if loop.first %} active{% endif %}">
            {{ page.media.images[item.image] }}
             <div class="carousel-caption">{{ item.caption }}</div>
        </div>
        {% endfor %}
    </div>

    <a class="left carousel-control" href="#{{ carousel.id }}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">{{ carousel.previous_label }}</span>
    </a>
    <a class="right carousel-control" href="#{{ carousel.id }}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">{{ carousel.next_label }}</span>
    </a>
</div>
