{% set page = grav.page %}
<nav class="navbar navbar-default{% if navbar.fixed|default('none') != 'none' %} navbar-fixed-{{ navbar.fixed }}{% endif %}{% if centering == 'centered' %} container{% elseif centering == 'fluid' %} container-fluid{% endif %}{% if navbar.inverted|default(false) %} navbar-inverse{% endif %} {{ navbar.attributes['class'] }}">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#{{ navbar.id }}" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{% if navbar.brand.image is defined %} {{ page.media[navbar.brand.image].resize(20, 20) }} {% else %} {{ navbar.brand.text }} {% endif %}</a>
    </div>

    <div id="{{ navbar.id }}" class="collapse navbar-collapse">
        {% for item in navbar.items %}
            {% if item.type == 'menu' %}
            {% include 'partials/_navbar_menu.html.twig' with {'menu': item } %}
            {% elseif item.type == 'form' %}
            {% include 'partials/_navbar_form.html.twig' with {'form': item } %}
            {% endif %}
        {% endfor %}
    </div>
  </div>
</nav>