{% set splitbutton_type = splitbutton.type|default('default') %}
<div class="btn-group">
  <button type="button" class="btn btn-{{ splitbutton_type }} {{ splitbutton.attributes['class'] }}">{{ splitbutton.label }}</button>
  <button type="button" class="btn btn-{{ splitbutton_type }} dropdown-toggle {{ splitbutton.attributes['class'] }}" data-toggle="dropdown"{% include 'partials/_attributes.html.twig' with {'attributes': splitbutton.attributes, 'ignore': ['class']} %}>
    <span class="caret"></span>
    <span class="sr-only">{{ splitbutton.label }}</span>
  </button>
  {% include "partials/_dropdown_items.html.twig" with {'items': splitbutton.items } %}
</div>