<ul class="nav nav-tabs" role="tablist">
{% for name in tabs.sections|keys %}
    <li role="presentation"{% if loop.first %} class="active"{% endif %}><a href="#{{ name }}" aria-controls="{{ name }}" role="tab" data-toggle="tab">{{ name }}</a></li>
{% endfor %}
</ul>

<div class="tab-content">
    {% for name, content in tabs.sections %}
        <div role="tabpanel" class="tab-pane{% if loop.first %} active{% endif %}" id="{{ name }}">{{ content }}</div>
    {% endfor %}
</div>