{% set page = thumbnails.page is defined ? thumbnails.page : grav.page %}
<div class="row">
    {% for thumbnail in thumbnails.items %}
    <div class="{{ thumbnail.class }}">
        {% set linked = thumbnail.url  is defined %}
        {% set tag = linked ? 'a href="' ~ thumbnail.url ~ '"' : 'div' %}
        {% set close_tag = linked ? 'a' : 'div' %}
        <{{ tag }} class="thumbnail">
        {{ page.media.images[thumbnail.image] }}
        {% if linked == false and thumbnails.sections is defined and thumbnails.sections[thumbnail.section] is defined %}
        <div class="caption">
            {{ thumbnails.sections[thumbnail.section] }}
        </div>
        {% endif %}
        </{{ close_tag }}>
    </div>
    {% endfor %}
</div>
