<div class="row">
    {% for thumbnail in thumbnails %}
    <div class="{{ thumbnail.class }}">
        {% set linked = thumbnail.link  is defined %}
        {% set tag = linked ? 'a href="' ~ thumbnail.link ~ '"' : 'div' %}
        {% set close_tag = linked ? 'a' : 'div' %}
        <{{ tag }} class="thumbnail">
        {{ grav["page"].media.images[thumbnail.image] }}
        {% if thumbnails.sections is defined and thumbnails.sections[thumbnail.section] is defined %}
        <div class="caption">
            {{ thumbnails.sections[thumbnail.section] }}
        </div>
        {% endif %}
        </{{ close_tag }}>
    </div>
    {% endfor %}
</div>